= content_for :title do
  homepage
  
%p this is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. his is the homepage text. 